<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="./img/favicon/favicon.ico">
    <!-- Reset CSS -->
    <link rel="stylesheet" href="./css/reset.css" type="text/css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <!-- Roboto Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- YouTube API-->
    <script type="text/javascript" src="http://www.youtube.com/player_api"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
