<div class="rChallenge">
	    <h1>{{title}}</h1>
	    <div class="body">

	    <p id='selftext'>  {{selfText_html}} </p>
	    </div>
	    <div class ='redditUrl'>
	     <h3> {{url}} </h3>
	    </div>
	    <div class ='redditUrl'>
	     <h2> {{difficulty}} </h2>
	    </div>
		<br><br>
	    <div id='clicker'>
	    	
	    </div>
</div>